.mt_10 {
    margin-top: 10px;
}
.mt_27 {
    margin-top: 27px;
}
.mt_58 {
    margin-top: 58px;
}
.mt_102 {
    margin-top: 102px;
}
.mt_118 {
    margin-top: 118px;
}

.mr_6 {
    margin-right: 6px;
}

.mr_32 {
    margin-right: 32px;
}

.mr_10 {
    margin-right: 10px;
}
.mr_50 {
    margin-right: 50px;
}
.mr_281 {
    margin-right: 281px;
}

.mr_463 {
    margin-right: 463px;
}



.mb_8 {
    margin-bottom: 8px;
}
.mb_10 {
    margin-bottom: 10px;
}

.mb_12 {
    margin-bottom: 12px;
}
.mb_16 {
    margin-bottom: 16px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_27 {
    margin-bottom: 27px;
}
.mb_30 {
    margin-bottom: 30px;
}

.mb_39 {
    margin-bottom: 39px;
}

.mb_42 {
    margin-bottom: 42px;
}
.mb_47 {
    margin-bottom: 47px;
}

.mb_54 {
    margin-bottom: 54px;
}
.mb_60 {
    margin-bottom: 60px;
}
.mb_67 {
    margin-bottom: 67px;
}


.ml_10 {
    margin-left: 10px;
}
.ml_202 {
    margin-left: 202px;
}

.pb_30 {
    padding-bottom: 30px;
}
.pb_42 {
    padding-bottom: 42px;
}
.pr_281 {
    padding-right: 281px;
}

.fz_0 {
    font-size: 0;
}

