//=========================================================
//                    ПЕРЕМЕННЫЕ
//=========================================================
$font-size-small:14px;
$font-size-normal:16px;
$font-size-large:18px;


$screen-xs:'screen and (min-width:540px)';
$screen-sm:'screen and (min-width:768px)';
$screen-md:'screen and (min-width:1024px)';
$screen-lg:'screen and (min-width:1280px)';