.card {

}

.card__menu {
    background: linear-gradient(90deg, #66BB6A 0%, #388E3C 100%);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.56);
    border-radius: 3px;
    padding: 17px 0 17px 17px;
    margin: 0 15px -47px 15px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.card__menu--no-icons {
    background: linear-gradient(90deg, #EF5350 0%, #D32F2F 100%);
}

.card__menu-item {
text-decoration: none;
    font-family: roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
}
.card__menu-item--no-icons {
    padding: 16px 15px 13px 15px;
}

.card__menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.card__menu-icon {
    width: 24px;
    vertical-align: middle;
}

.card__content {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 79px 15px 27px 15px;
    text-align: center;
    position: relative;
    z-index: 0;

}
.card__content--transparent {
    background: transparent;
    box-shadow: none;

}