.input-slider {
  display: flex;
  flex-direction: column;

}


input[type=range].input-slider__item {
  -webkit-appearance: none;
  outline: none;
  width: 267px;
  border-radius: 2px;
  height: 1px;
  background-color: #9C27B0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #FFFFFF;
    border: 1px solid #9C27B0;
    width: 12px;
    height: 12px;
    border-radius: 12px;
  }

  @media #{$screen-sm} {
    width: 150px;
  }
  @media #{$screen-xs} {
    width: 120px;
  }
}

//input[type=range].input-slider__item::-webkit-slider-thumb {
//  -webkit-appearance: none;
//  background-color: #FFFFFF;
//  border: 1px solid #9C27B0;
//  width: 12px;
//  height: 12px;
//  border-radius: 12px;
//}