.link-title {
    font-family: roboto-light,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 34px;
    color: #3C4858;
}


.link {
    font-family: roboto,sans-serif;
    padding: 13px 30px;
    border-radius: 3px;
    //cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;

}

.link--default {

    color: #999999;
}

.link--primary {

    color: #9C27B4;
}

.link--info {

    color: #03A9F4;
}

.link--success {

    color: #4CAF50;
}

.link--warning {

    color: #FBC02D;
}

.link--danger {

    color: #F44336;
}