.menu {
    display: flex;
    background: #9C27B0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.42);
    border-radius: 3px;
    padding: 10px 0 10px 0;
    justify-content: flex-start;
    align-items: center;

    @media #{$screen-sm} {
        margin-right: 0;

    }
}

.menu--blue {
    background: #03A9F4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.42);
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
}



.menu__box {
    display: flex;
    background: #9C27B0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.42);
    border-radius: 3px;
    padding: 10px 0 10px 0;
    justify-content: flex-start;
    align-items: center;
}

.menu__box--blue {
    background: #03A9F4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.42);
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
}



.menu__item {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-family: roboto-light,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: transparent;
    padding: 18px 16px;

    @media #{$screen-sm} {
        font-size: 10px;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.menu__item--icon {
    padding: 0;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}





.menu__item--first {
     font-size: 18px;
     line-height: 16px;
     padding: 18px 16px;

    @media #{$screen-sm} {
        font-size: 14px;
    }
 }


.menu__item--icon-first:hover {
    background: rgba(255, 255, 255, 0.1);
}
.menu__item--select {
    -webkit-appearance: none;
    background: url(../../images/select-arrow.png) no-repeat center right 4px transparent;
}
.menu__item--select-icon {
    -webkit-appearance: none;
    background: url(../../images/select-arrow.png) no-repeat center transparent;
    padding-left: 10px;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}


select::-ms-expand {
    display: none;
}

.menu__icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__img {
    width: 20px;
}

//.menu__item--select-icon:hover {
//    background: rgba(255, 255, 255, 0.1);
//}

//.menu__item:hover {
//    background: rgba(255, 255, 255, 0.1);
//}

//.menu__item--icon:hover {
//     background: rgba(255, 255, 255, 0.1);
// }
